@import '../../../.././sass/colors';
.button{
border: solid 2px $dark-white;
cursor: pointer;
height: 2.3rem;
padding: 0.5em;
box-sizing: border-box;
font-size: 1.1rem;
margin: 0 0.2em;
}
.button--toggled{
background-color: $dark-white;
}
.button--untoggled{
background-color: none;
color: $dark-white;
}