@import '../../../.././sass/colors';
.button{
border: solid 2px $dark-white;
cursor: pointer;
padding: 0.4em;
font-size: 1rem;
margin: 0.4em 0.2em 0 0.2em;
display: inline-block;
&:focus{
    outline: none;
}
}
.button--toggled{
background-color: $dark-white;
}
.button--untoggled{
color: $dark-white;
background: none;
}