@import '../../../../sass/colors';
.wrapper{
    margin: 0;
    padding: 0.5em;
    text-align: left;
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.icon{
    color: $blue;
    margin-right: 0.3em;
    filter: drop-shadow(0px 1px 6px $blue);
}
.property{
    color: $light-gray;
    margin: 0.4em 0;
}
.song-name{
    color: $dark-white;
    font-size: 1.2rem;
}