@import '../../../../sass/colors';
.wrapper{
    background-color: $dark-gray;
    max-width: 100%;
    margin: 0;
    padding: 0.5em;
    text-align: left;
}
.icon{
    color: $dark-white;
    margin-right: 0.3em;
}
.text{
    color: $light-gray;
}
.property-wrapper{
    margin: 0.3em 0;
}